.section.ms.n1 .graph-container img {
    width: 700px;
}

.section.ms.n2 .graph-text-container img {
    width: 600px;
}

.section.ms.n3 .monthly-graph-container img {
    width: 100%;
    height: auto;
}