@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ------------------------------------------------------ Misc ------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --text: #090b12;
    --text-dark-blue: #1a377a; /* 1B3266 */
    --background: #f2f4f9;
    --primary: #4269c0;
    --secondary: #9bacdd;
    --accent: #758ed5;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --extralight: 200;
    --border-radius: 25px;
    --gap: 35px;
    --text-image-gap: 60px;
}

body {
    background-color: var(--background);
}

/* ------------------------------------------------------ Text Styles ------------------------------------------------------ */

.section {
    width: 1400px;
}

.subheader {
    color: var(--primary);
    font-size: 45px;
    font-weight: var(--medium);
    display: inline-block;
}

.pre-subheader {
    opacity: 0.65;
    font-weight: var(--light);
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: 5px;
    color: var(--primary);
}

.subheader.sh {
    margin-bottom: 30px;
}

.subheader.center {
    width: 100%;
    text-align: center;
}

.subheader.th {
    margin-bottom: 15px;
}

.body-text, .body-text ul li{
    color: var(--text);
    font-weight: var(--light);
    font-size: 22px;
    line-height: 1.55;
}

.body-text ul li {
    margin-left: 2em;
}

.sectioncontainer {
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------ Image Styles ------------------------------------------------------ */

div.img-s {
    border-radius: var(--border-radius);
    position: relative;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 0 30px #00000005;
}

div.img-s::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    z-index: 2;
    transition: all 0.7s cubic-bezier(.17,.01,.11,.88);
}

div.img-s::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#f8fafdc0 0%, #e8ecf600 64%);
    z-index: 3;
}

div.img-s:hover::before {
    transform: scale(1.1);
}

/* ------------------------------------------------------ Navbar ------------------------------------------------------ */

.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
    position: fixed;
    z-index: 10;
}

.navbar {
    background-color: #f2f4f9c7;
    backdrop-filter: blur(15px);
    height: 80px;
    width: 1400px;
    border-radius: var(--border-radius);
    box-shadow: #00000025 0px 4px 25px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}

.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.jmssLogo {
    width: auto;
    height: 45px;
}

.logoSection p {
    color: var(--text-dark-blue);
    font-size: 22px;
    font-weight: var(--light);
    /* opacity: 0.7; */
}

.logoSection p span {
    font-weight: var(--medium);
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navLinks a {
    color: var(--text-dark-blue);
    font-size: 20px;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: var(--medium);
    transition: all 0.1s cubic-bezier(.47, .01, .08, .97);
}

.navLinks a:active {
    scale: 0.95;
}

.navLinks a::after {
    content: "";
    position: absolute;
    width: calc(100% - 50px);
    height: 1px;
    bottom: -8px;
    background-color: var(--text-dark-blue);
    border-radius: 1px;
    opacity: 0;
    transition: all 0.3s cubic-bezier(.47, .01, .08, .97);
}

.navLinks a:hover::after {
    bottom: -2px;
    opacity: 30%;
    width: 100%;
}

/* ------------------------------------------------------ Hero Section ------------------------------------------------------ */

.heroSection {
    background-color: #e8ecf6;
    position: relative;
    display: flex;
    justify-content: center;
    height: 740px;
    overflow: hidden;
}

/* ------------------- Background Video ------------------- */

.videoContainer {
    position: relative;
    width: 80%;
    height: auto;
    top: 0;
    display: flex;
    background-image: url(/sources/media/preload-bg-image.jpg);
    background-size: cover;
    background-position: right;
    filter: grayscale(0.3);
}

.videoContainer#metro-bg {
    background-image: url(/sources/media/preload-bg-image.jpg) !important;
}

.videoContainer#regional-bg {
    background-image: url(/sources/media/preload-bg-image-vline.jpg) !important;
    background-position: bottom right;
}


.videoContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(232, 236, 246, 1) 0%, rgba(232, 236, 246, 0) 100%);
}

.blankSpace {
    width: 20%;
    height: 100%;
    position: relative;
}

.videoContainer video {
    width: 100%;
    object-fit: cover;
    height: auto;
}

/* ------------------- Hero Content ------------------- */

.heroContent {
    width: 1400px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.heroContent h1, .heroContent h2{
    color: var(--primary);
}

.heroContent h3 {
    color: #1B3266;
    font-size: 35px;
    font-weight: var(--medium);
}

.heroContent h1 {
    font-size: 55px;
    font-weight: var(--bold);
    line-height: 110%;
}

.heroContent h1 span {
    font-weight: var(--medium);
}

.heroContent h2 {
    font-size: 46px;
    font-weight: var(--semibold);
}

.heroContent h3 span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.heroContent h3 span img {
    width: 45px;
    height: auto;
}

.heroContent h4 {
    font-weight: var(--extralight);
    font-size: 25px;
    color: var(--text);
    margin-bottom: 40px;
}


.heroTransportIcons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.heroTransportIcons img {
    height: 50px;
    width: auto;
}