/* ------------------------------------------------------ Section 1 ------------------------------------------------------ */

.linkGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* height: 20px; */
    gap: var(--gap);
}

.linkCardCont {
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px #00000005;
    height: 400px;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(.17, .01, .11, .88);
}

.linkCardCont:hover {
    box-shadow: 0 4px 40px #0000001a;
    transform: translateY(-3px);
}

.linkCardCont.one {
    background-color: #0072ce;
    grid-column: 1 / 2;
}

.linkCardCont.two {
    background-color: #7f0d82;
    grid-column: 2 / 3;
}

.linkCardCont.three {
    background-color: #f8fafd;
    grid-column: 3 / 4;
}

.cardImgCont {
    height: 62%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cardGridContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cardImgCont.compare .cardGridContainer {
    grid-template-rows: repeat(2, 1fr);
}

.cardImgCont .cardGridContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.cardImgCont.metro .cardGridContainer::after {
    background: linear-gradient(0deg, #0072ce 0%, #e8ecf600 64%);
}

.cardImgCont.regional .cardGridContainer::after {
    background: linear-gradient(0deg, #7f0d82 0%, #e8ecf600 64%);
}

.cardImgCont.compare .cardGridContainer::after {
    background: linear-gradient(0deg, #F8FAFD 0%, #F8FAFD00 64%);
}

.cardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardImage.train {
    background-image: url(./media/CardPhotos/train.png);
}

.cardImage.tram {
    background-image: url(./media/CardPhotos/tram.png);
}

.cardImage.bus {
    background-image: url(./media/CardPhotos/bus.png);
}

.cardImage.vline {
    background-image: url(./media/CardPhotos/vline.png);
}

.cardImage.coach {
    background-image: url(./media/CardPhotos/coach.png);
}

.cardImage.one {
    grid-column: 1 / 2;
}

.cardImage.two {
    grid-column: 2 / 3;
}

.cardImage.three {
    grid-column: 3 / 4;
}

.cardImgCont.compare .cardImage.one {
    grid-area: 1/1/3/2;
}

.cardImgCont.compare .cardImage.two {
    grid-area: 1/2/2/3;
}

.cardImgCont.compare .cardImage.three {
    grid-area: 1/3/2/4;
}

.cardImgCont.compare .cardImage.four {
    grid-area: 2/2/3/3;
}

.cardImgCont.compare .cardImage.five {
    grid-area: 2/3/3/4;
}

.cardLinkText-cont {
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
}

.cardLinkText-cont img {
    position: absolute;
    top: -59px;
    left: -8px;
    width: auto;
    height: 120px;
    pointer-events: none;
}

.cardLinkText h2,
.cardLinkText h3 {
    color: var(--background);
}

.cardLinkText.compare h2,
.cardLinkText.compare h3 {
    color: var(--primary) !important;
}

.cardLinkText h2 {
    font-weight: var(--semibold);
    font-size: 38px;
    line-height: 0.9;
}

.cardLinkText h3 {
    font-weight: var(--regular);
    font-size: 26px;
    opacity: 0.6;
}

.cardLinkText.compare h2 {
    font-size: 35px;
    line-height: 0.95;
}

.cardLinkBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(.17, .01, .11, .88);
    cursor: pointer;
    text-decoration: none;
}

.cardLinkBtn.compare {
    background-color: var(--primary) !important;
}

.cardLinkBtn:hover {
    box-shadow: 0 6px 20px #0000002d;
    transform: translateY(-3px);
}

.cardLinkBtn:active {
    box-shadow: 0 0 0 #00000000;
    transform: translateY(0px);
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square {
    font-size: 30px;
    transition: all 0.2s cubic-bezier(.17, .01, .11, .88);
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square.metro {
    color: #0072ce;
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square.regional {
    color: #7f0d82;
}

.cardLinkBtn.compare .fa-solid.fa-arrow-up-right-from-square {
    color: var(--background) !important;
}

.cardLinkBtn:hover .fa-solid.fa-arrow-up-right-from-square {
    scale: 1.05;
}

.cardLinkBtn:active .fa-solid.fa-arrow-up-right-from-square {
    scale: 0.8;
}


/* ------------------------------------------------------ Section 2 ------------------------------------------------------ */

.keyGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* height: 20px; */
    gap: var(--gap);
}

.keyItem {
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: 50px 40px;
    box-shadow: 0 4px 30px #00000005;
}

.keyItem h1 {
    color: var(--primary);
    font-size: 44px;
    font-weight: var(--semibold);
    margin-bottom: 10px;
}

.keyItem p {
    color: var(--text);
    font-size: 27px;
    font-weight: var(--light);
}

/* ------------------------------------------------------ Section 3 ------------------------------------------------------ */

.s3 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--text-image-gap);
}

.s3 .s-text-container {
    width: 60%;
}

div.img-s.s3 {
    width: 40%;
    /* flex-shrink: 0; */
}

div.img-s.s3::before {
    background-image: url(/sources/media/tram-s3.jpg);
}

/* ------------------------------------------------------ Section 4 ------------------------------------------------------ */

.s4 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--text-image-gap);
}

.s4 .s-text-container {
    width: 60%;
}

div.img-s.s4 {
    width: 40%;
    /* flex-shrink: 0; */
}

div.img-s.s4::before {
    background-image: url(/sources/media/an-s4.jpg);
}
/* ------------------------------------------------------ Map ------------------------------------------------------ */

.embedMap {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-bottom: 75px;
    width: 100%;
    flex-direction: column;
}

.embedMap iframe {
    border-radius: var(--border-radius);
    box-shadow: 0 0 30px #00000005;

}


/* ------------------------------------------------------ References ------------------------------------------------------ */

.s6 {
    width: 1000px;
}

.body-text.ref p {
    line-height: 1.1;
    margin-bottom: 30px;
    font-size: 18px;
}


.sectioncontainer .section .s-text-container .body-text.ref a i {
    font-size: 15px;
}

/* ------------------------------------------------------ Responsiveness ------------------------------------------------------ */

@media (max-width: 1460px) {
    .cardLinkText h2 {
        font-size: 32px;
    }

    .cardLinkText h3 {
        font-size: 20px;
    }

    .cardLinkText.compare h2 {
        font-size: 28px;
    }

    .cardLinkBtn {
        width: 55px;
        height: 55px;
    }

    .cardLinkBtn .fa-solid.fa-arrow-up-right-from-square {
        font-size: 25px;
    }

    .linkCardCont {
        height: 300px;
    }

    .cardLinkText-cont img {
        top: -55px;
        left: -3px;
        height: 100px;
    }

    .cardLinkText-cont {
        padding: 0 25px;
    }
}

@media (max-width: 1270px) {

    .s4,
    .s3 {
        flex-direction: column-reverse;
    }

    .s4 .s-text-container,
    .s3 .s-text-container {
        width: 100%;
    }

    div.img-s.s4,
    div.img-s.s3 {
        width: 100%;
        height: 600px;
    }

    .cardLinkBtn .fa-solid.fa-arrow-up-right-from-square {
        font-size: 20px;
    }

    .cardLinkText-cont {
        padding: 0 20px;
    }

    .cardLinkText h2 {
        font-size: 28px;
    }

    .cardLinkText h3 {
        font-size: 15px;
    }

    .cardLinkText.compare h2 {
        font-size: 24px;
    }

    .cardLinkBtn {
        width: 45px;
        height: 45px;
    }

    .linkCardCont {
        height: 250px;
    }

    .cardLinkText-cont img {
        top: -50px;
        left: -7px;
        height: 90px;
    }
}