/* ------------------------------------------------------ Section 1 ------------------------------------------------------ */

.section1container, .section2container {
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2container {
    background-color: #E8ECF6;
}

.section1, .section2 {
    width: 1400px;
}

.subheader {
    color: var(--primary);
    font-size: 45px;
    text-align: center;
    font-weight: var(--medium);
    margin-bottom: 30px;
}

.linkGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* height: 20px; */
    gap: 35px;
}

.linkCardCont {
    border-radius: 25px;
    box-shadow: 0 4px 30px #00000005;
    height: 400px;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(.17,.01,.11,.88);
}

.linkCardCont:hover {
    box-shadow: 0 4px 40px #0000001a;
    transform: translateY(-3px);
}

.linkCardCont.one {
    background-color: #0072ce;
    grid-column: 1 / 2;
}

.linkCardCont.two {
    background-color: #7f0d82;
    grid-column: 2 / 3;
}

.linkCardCont.three {
    background-color: #f8fafd;
    grid-column: 3 / 4;
}

.cardImgCont {
    height: 62%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cardGridContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cardImgCont.compare .cardGridContainer {
    grid-template-rows: repeat(2, 1fr);
}

.cardImgCont .cardGridContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.cardImgCont.metro .cardGridContainer::after{
    background: linear-gradient(0deg,#0072ce 0%, #e8ecf600 64%);
}

.cardImgCont.regional .cardGridContainer::after{
    background: linear-gradient(0deg,#7f0d82 0%, #e8ecf600 64%);
}

.cardImgCont.compare .cardGridContainer::after{
    background: linear-gradient(0deg,#F8FAFD 0%, #F8FAFD00 64%);
}

.cardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardImage.train {
    background-image: url(./media/CardPhotos/train.png);
}

.cardImage.tram {
    background-image: url(./media/CardPhotos/tram.png);
}

.cardImage.bus {
    background-image: url(./media/CardPhotos/bus.png);
}

.cardImage.vline {
    background-image: url(./media/CardPhotos/vline.png);
}

.cardImage.coach {
    background-image: url(./media/CardPhotos/coach.png);
}

.cardImage.one {
    grid-column: 1 / 2;
}

.cardImage.two {
    grid-column: 2 / 3;
}

.cardImage.three {
    grid-column: 3 / 4;
}

.cardImgCont.compare .cardImage.one {
    grid-area: 1/1/3/2;
}

.cardImgCont.compare .cardImage.two {
    grid-area: 1/2/2/3;
}

.cardImgCont.compare .cardImage.three {
    grid-area: 1/3/2/4;
}

.cardImgCont.compare .cardImage.four {
    grid-area: 2/2/3/3;
}

.cardImgCont.compare .cardImage.five {
    grid-area: 2/3/3/4;
}

.cardLinkText-cont {
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
}

.cardLinkText-cont img {
    position: absolute;
    top: -59px;
    left: -8px;
    width: auto;
    height: 120px;
    pointer-events: none;
}

.cardLinkText h2, .cardLinkText h3 {
    color: var(--background);
}

.cardLinkText.compare h2, .cardLinkText.compare h3 {
    color: var(--primary) !important;
}

.cardLinkText h2 {
    font-weight: var(--semibold);
    font-size: 38px;
    line-height: 0.9;
}

.cardLinkText h3 {
    font-weight: var(--regular);
    font-size: 26px;
    opacity: 0.6;
}

.cardLinkText.compare h2 {
    font-size: 35px;
    line-height: 0.95;
}

.cardLinkBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(.17,.01,.11,.88);
    cursor: pointer;
    text-decoration: none;
}

.cardLinkBtn.compare {
    background-color: var(--primary) !important;
}

.cardLinkBtn:hover {
    box-shadow: 0 6px 20px #0000002d;
    transform: translateY(-3px);
}

.cardLinkBtn:active {
    box-shadow: 0 0 0 #00000000;
    transform: translateY(0px);
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square {
    font-size: 30px;
    transition: all 0.2s cubic-bezier(.17,.01,.11,.88);
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square.metro {
    color: #0072ce;
}

.cardLinkBtn .fa-solid.fa-arrow-up-right-from-square.regional {
    color: #7f0d82;
}

.cardLinkBtn.compare .fa-solid.fa-arrow-up-right-from-square {
    color: var(--background) !important;
}

.cardLinkBtn:hover .fa-solid.fa-arrow-up-right-from-square {
    font-size: 32px;
}

.cardLinkBtn:active .fa-solid.fa-arrow-up-right-from-square {
    font-size: 25px;
}


/* ------------------------------------------------------ Section 2 ------------------------------------------------------ */

.keyGrid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    /* height: 20px; */
    gap: 35px;
}

.keyItem {
    background-color: var(--background);
    border-radius: 25px;
    padding: 50px 40px;
    box-shadow: 0 4px 30px #00000005;
}

.keyItem h1 {
    color: var(--primary);
    font-size: 44px;
    font-weight: var(--semibold);
    margin-bottom: 10px;
}

.keyItem p {
    color: var(--text);
    font-size: 27px;
    font-weight: var(--light);
}