
.section.rs.n1 .graph-container img {
    width: 700px;
}

.section.rs.n2 .graph-text-container img {
    width: 600px;
}

.section.rs.n4 .graph-text-container img {
    width: 650px;
}

.section.rs.n3 .monthly-graph-container {
    width: 900px;
}

.section.rs.n3 .monthly-graph-container img {
    width: 100%;
    height: auto;
}